<ul class="nav nav-pills">
  <li role="presentation">
    <div class="dropdown">
      <button class="btn btn-primary btn-default dropdown-toggle" type="button" id="dropdownMenu1"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">帐号设置
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">帐号设置</a></li>
        <li><a href="#">交易记录</a></li>
      </ul>
    </div>
  </li>
  <li role="presentation">
    <div class="dropdown">
      <button class="btn btn-primary btn-default dropdown-toggle" type="button" id="dropdownMenu2"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">风险数据库
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a href="#">API文档</a></li>
        <li><a href="#">离线检测</a></li>
        <li><a href="#">数据报表</a></li>
        <li><a href="#">配置调整</a></li>
      </ul>
    </div>
</ul>
