{% extends "base.html" %}

<div>
  <h2>{{ current_user.username }}</h2>
  <h3><a href={{ urf_for("views.admin_logout") }}>登出</a></h3>
</div>

{% block body %}
  <div class="container" style="margin-bottom: 40px;">
    <div class="row">
      <h1 class="text-center">create user</h1>
    </div>

    {% include "_form_error.html" %}

    <form class="form-horizontal" action="{{ url_for('view.create_user') }}" method="POST">
      {% include "_form.html" %}
    </form>
  </div>

{% endblock body %}
