{% extends "base.html" %}

{% block body %}

<div class="contain-fluid" style="margin: 26px;">
  <div class="row" style="margin-bottom: 30px">
    <div class="col-lg-1">
      <button class="btn btn-primary">创建</button>
    </div>
    <div class="col-lg-offset-8 col-lg-3">
      <input type="input" placeholder="请输入关键字"/>
      <select id="" name="">
        <option value="1">所有</option>
      </select>
      <button class="btn btn-primary">查询</button>
    </div>
  </div>

  <div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>用户名</td>
        <td>最近登录</td>
        <td>状态</td>
        <td>auth</td>
        <td>查询次数</td>
        <td>总次数</td>
        <td>到期时间</td>
        <td>注册时间</td>
        <td>是否激活</td>
        <td>公司</td>
        <td>联系电话</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      {% for user in user_list %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.last_login_time }}</td>
          <td><span class="text-danger">可用次数不足</span></td>
          <td>7aasdfa2321</td>
          <td>0</td>
          <td>0</td>
          <td>永不过期</td>
          <td>2010-01-21 02:21:21</td>
          <td>1</td>
          <td>原创公司</td>
          <td>189123124131</td>
          <td>
            <button class="btn btn-primary">查看报表</button>
            <button class="btn btn-primary">详情</button>
            <button class="btn btn-primary">禁用</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

{% endblock body %}
